<html>

    <head>
        <title>{{ title }}</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
    </head>

    <body>
        <div>
            <!-- <a href="home">Home</a> -->
            <a href="{% url 'index' %}">Home</a>
        </div>
        {{ content }}
    </body>

</html>