<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
{% load static %}<!-- Instruct Django to load static files -->
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

</head>

<body>
    <div class="navbar">
       <a href="/" class="navbar-brand">Hello Django</a>
       <!-- <a href="% url 'index' %" class="navbar-item">Home</a> -->
       <!-- <a href="{% url 'about' %" class="navbar-item">About</a> -->
    </div>

    <div class="body-content">
{% block content %}{% endblock %}
{% if latest_question_list %}
    <ul>
        {% for question in latest_question_list %}
            <!-- <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li> -->
            
            <!-- Using Namespacing for URL names -->
            <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
        <hr/>
        <footer>
            <p>&copy; 2018</p>
        </footer>
    </div>
</body>
<div><a href="about">About</a></div>

</html>